[submodule "vendor/plugins/hobo"]
	path = vendor/plugins/hobo
	url = git://github.com/tablatom/hobo.git
[submodule "vendor/plugins/hobo-jquery"]
	path = vendor/plugins/hobo-jquery
	url = git://github.com/bryanlarsen/hobo-jquery.git
