[submodule "vendor/plugins/hobo"]
	path = vendor/plugins/hobo
	url = git://github.com/tablatom/hobo.git
[submodule "vendor/plugins/hobo-contrib"]
	path = vendor/plugins/hobo-contrib
	url = git://github.com/bryanlarsen/hobo-contrib.git
