[submodule "vendor/plugins/hobo"]
	path = vendor/plugins/hobo
	url = git://github.com/tablatom/hobo.git
[submodule "vendor/plugins/selenium_on_rails"]
	path = vendor/plugins/selenium_on_rails
	url = git://github.com/paytonrules/selenium-on-rails.git
